<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dear.mapper.bbs.UserMapper">

  <select id="getUserDataByUserId" resultType="com.dear.domain.bbs.vo.UserDataVO">
    select
    u.userName,
    u.nickName,
    u.headUrl,
    ud.sex,
    ud.birthday,
    ud.sign
    from user u
    left join user_details ud on ud.userId = u.userId
    where u.userId = #{userId}
  </select>

  <select id="getUserCountByUserNameAndNickName" resultType="java.lang.Integer">
    select
    COUNT(1)
    from user
    where userName = #{userName} OR nickName = #{userName}
  </select>

  <select id="getUserCountByUserName" resultType="java.lang.Integer">
    select
    COUNT(1)
    from user
    where userName = #{userName}
  </select>

  <select id="getUserCountByNickName" resultType="java.lang.Integer">
    select
    COUNT(1)
    from user
    where nickName = #{nickName}
  </select>

  <select id="getUserByUserNameAndPassWord" resultType="com.dear.domain.bbs.User">
    select
    userId, isFrozen
    from user
    where userName = #{userName}
    and passWord = #{passWord}
    and del = 0
  </select>

  <select id="selectByPrimaryKey" resultType="com.dear.domain.bbs.User">
    select
    userId,
    userName,
    passWord,
    nickName,
    headUrl,
    isFrozen
    from user
    where userId = #{userId}
    and del = 0
  </select>

  <select id="selectCountById" resultType="int">
    select COUNT(userId)
    from user
    where userId = #{userId}
    and del = 0
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="userId" parameterType="com.dear.domain.bbs.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        userId,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="passWord != null">
        passWord,
      </if>
      <if test="nickName != null">
        nickName,
      </if>
      <if test="headUrl != null">
        headUrl,
      </if>
      <if test="isFrozen != null">
        isFrozen,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="isFrozen != null">
        #{isFrozen,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <update id="updateNickNameAndUserName">
    UPDATE
    user
    SET
    userName = #{userName},
    nickName = #{nickName},
    updateTime = NOW()
    WHERE userId = #{userId}
  </update>

  <update id="updateUserHeadUrl">
    UPDATE
    user
    SET
    headUrl = #{headUrl},
    updateTime = NOW()
    WHERE userId = #{userId}
  </update>

</mapper>